<form [formGroup]="FacureForm">
    <mat-form-field *ngFor="let item of formOptions" appearance="fill">
      <mat-label>{{ item.name }}</mat-label>
      <input [type]="item.type" matInput [formControlName]="item.id" [required]="item.required">
    </mat-form-field>
  </form>
  
  <button *ngIf="!data" mat-raised-button type="submit" color="primary" [disabled]="FacureForm.invalid" [mat-dialog-close]="save()">Ajouter</button>
  <button *ngIf="data" mat-raised-button type="submit" color="primary" [disabled]="FacureForm.invalid" [mat-dialog-close]="save()">modifier</button>

  